@mixin grid-structure {
  display: grid;
  max-width: 1300px;
  margin: 0 2% 30px 2%;
  background: whitesmoke;
  border-radius: 40px;
  padding: 30px;
  column-gap: 4rem;
  color: #252525;
  margin-bottom: 30px;
  @include type-1;
  box-shadow: -3px -3px 10px rgba($color: #000000, $alpha: 0.2);
}
