@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montaga&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
$font-1: 'Bebas Neue', cursive;
$font-2: 'Roboto', sans-serif;
$font-3: 'Montaga', serif;

@mixin title {
  text-align: center;
  font-size: 3em;
  font-family: $font-1;
}

@mixin title-2 {
  font-family: $font-3;
  font-size: 4em;
}

@mixin type-1 {
  font-family: $font-2;
  font-size: 1.125em;
  line-height: 1.4;
}
