.c-main-content {
  @include grid-structure;
  @include for-tablet-portrait-up {
    padding: 30px 1.5%;
  }
  @include for-tablet-landscape-up {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }

  @include for-desktop-up {
    max-width: 1300px;
  }

  &__title {
    @include title;
    margin-top: 30px;
    grid-column: 1 /-1;
  }
}

.c-main-content__text {
  padding: 0 10px;
}

.c-main-content__illustration {
  grid-column: 1 / -1;
  margin: 0 auto;
  grid-row: span 2;
}

.c-main-content__paragraph--border-blue {
  border-left: 15px solid $sky;
  padding: 0 10px;
}

.c-main-content__paragraph--border-purple {
  border-right: 15px solid $violet;
  padding-right: 10px;
}

.c-main-content__paragraph--border-strawberry {
  border-left: 15px solid $strawberry;
  padding: 0 10px;
}

.c-main-content__paragraph--border-fire::after {
  content: '';
  margin-top: 10px;
  width: 80%;
  height: 15px;
  display: block;
  background-color: $fire;
}

.c-main-content__stories {
  width: 100%;
  align-self: center;
  position: relative;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-main-content__story-item {
  margin: 5px;
  max-width: 250px;
  min-width: 110px;
  border: 0.5rem solid currentColor;
  border-radius: 5px;
}

.c-main-content__story-item--border-strawberry {
  color: $strawberry;
}

.c-main-content__story-item--border-fire {
  @include for-tablet-landscape-up {
    position: relative;
  }
  left: 40px;
  color: $fire;
}

.c-main-content__story-item--border-violet {
  position: relative;
  color: $violet;
}

// @media only screen and (max-width: 900px) {
//   .intro {
//     column-gap: 0rem;
//     padding: 10px;
//     margin: 0 10px;
//   }

//   .olaleitor article {
//     margin: 0;
//   }

//   .olaleitor article p {
//     margin-left: 0;
//     margin-right: 0;
//   }

//   .stories {
//     margin: 0;
//   }

//   .story-item {
//     border: 10px solid currentColor;
//   }

//   .story-item:nth-child(2) {
//     top: 0;
//     left: 0;
//     margin-left: 10px;
//   }
// }

// @media only screen and (max-width: 1110px) {
//   .intro {
//     grid-template-columns: auto;
//   }

//   .intro article {
//     grid-column: 100%;
//   }

//   .intro h2,
//   .ilustration {
//     grid-column: 1 / 3;
//   }

//   .story-item:nth-child(2) {
//     position: static;
//     margin-left: 10px;
//   }
// }
