// Olá leitor

.olaleitor {
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
  padding: 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('../svg/soccer-ball.svg') no-repeat;
  background-position: 75% bottom;
}

.olaleitor h1 {
  text-align: center;
  @include title-2;
}

.meninas {
  flex: 1;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0;
}

.meninas div {
  flex: 1;
  max-width: 200px;
  margin: 0 10px;
  margin-top: 10px;
  border: 10px solid currentColor;
  border-radius: 10px;
}

.meninas div img {
  height: auto;
  width: 100%;
  min-width: 130px;
}

.meninas div:first-child {
  color: $orange;
}
.meninas div:last-child {
  color: $pink;
}

.olaleitor article {
  margin: 30px 100px 50px 100px;
}

.olaleitor article p {
  @include type-1;
  margin: 30px 60px;
}

.olaleitor article p:first-child {
  padding: 0 10px;
  border-left: 10px solid $green;
}
