.c-main-introduce {
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
  padding: 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('../svg/soccer-ball.svg') no-repeat;
  background-position: 75% bottom;
}

.c-main-introduce__title {
  text-align: center;
  @include title-2;
}

.c-main-introduce__members {
  flex: 1;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0;
}

.c-main-introduce__member {
  flex: 1 1 130px;
  max-width: 200px;
  margin: 0 10px;
  margin-top: 10px;
  border: 10px solid currentColor;
  border-radius: 10px;
}

.c-main-introduce__member--border-fire {
  color: $fire;
}
.c-main-introduce__member--border-strawberry {
  color: $strawberry;
}

.c-main-introduce__text p {
  @include type-1;
  @include for-desktop-up {
    margin: 10px 60px;
  }
}

.c-main-introduce__paragraph--border-pear {
  padding: 0 10px;
  border-left: 10px solid $pear;
}

@media only screen and (max-width: 500px) {
  .c-main-introduce {
    padding: 10px;
  }

  .c-main-introduce__members {
    justify-content: center;
  }
}
