.center-con {
  opacity: 0;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  padding: 3em;
  animation: fadeIn 3s 6s linear forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.round {
  position: relative;
  border: 3px solid #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.arrow {
  z-index: 998;
  height: 3px;
  margin: 1px;
  width: 13px;
  background: #fff;
  transition: 0.4s ease;
}

.arrow:first-child {
  display: block;
  position: absolute;
  transform: rotate(45deg);
  left: 25%;
  bottom: 35%;
}

.arrow:nth-child(2) {
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  left: 45%;
  bottom: 35%;
}

.arrow:nth-child(3) {
  display: block;
  position: absolute;
  transform: rotate(45deg);
  left: 25%;
  bottom: 54%;
}

.arrow:nth-child(4) {
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  left: 45%;
  bottom: 54%;
}

.round:hover .arrow:nth-child(1) {
  transform: rotate(-135deg);
}

.round:hover .arrow:nth-child(2) {
  transform: rotate(135deg);
}

.round:hover .arrow:nth-child(3) {
  transform: rotate(225deg);
}

.round:hover .arrow:nth-child(4) {
  transform: rotate(-225deg);
}
