.c-illustration {
  grid-row: span 2;
}

.c-illustration__center {
  display: flex;
  justify-content: center;
}

.c-illustration--center {
  grid-column: 1 / -1;
  margin: 0 auto;
  grid-row: span 2;
}

.hidden {
  opacity: 0;
}

.fade-in-element {
  animation: zoomIn 1.4s;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
