.c-paragraph-border {
  &__left {
    display: flex;
    &::before {
      content: '';
      margin-right: 10px;
      width: 140px;
      background-color: currentColor;
    }

    &--pear-border {
      &::before {
        background-color: $color-pear;
      }
    }

    &--sky-border {
      &::before {
        background-color: $color-sky;
      }
    }

    &--strawberry-border {
      &::before {
        background-color: $color-strawberry;
      }
    }
  }

  &__right {
    display: flex;
    &::after {
      content: '';
      margin-left: 10px;
      width: 10%;
      background-color: currentColor;
    }

    &--violet-border {
      &::after {
        background-color: $color-violet;
      }
    }

    &--strawberry-border {
      &::after {
        background-color: $color-strawberry;
      }
    }
  }

  &__bottom {
    &::after {
      content: '';
      margin-top: $sm;
      width: 80%;
      height: 13px;
      display: block;
      background-color: currentColor;
    }

    &--fire-border {
      &::after {
        background-color: $color-fire;
      }
    }
    &--strawberry-border {
      &::after {
        background-color: $color-strawberry;
      }
    }
  }

  &__left-and-right {
    &--sky-and-violet-border {
      @include border('sm', 'left', $color-sky);
      @include border('sm', 'right', $color-violet);
    }
  }
}

.hiddenBottomBorder::after,
.hiddenLeftBorder::before,
.hiddenRightBorder::after {
  opacity: 0;
}

.showBottomBorder::after {
  animation: showBottomBorder 2s ease forwards;
}

.showLeftBorder::before,
.showRightBorder::after {
  animation: showSideBorder 2s ease forwards;
}
