.c-stories {
  width: 100%;
  max-height: 1000px;
  position: relative;
  padding: 0 $sm;
  display: flex;
  flex-direction: column;

  &__item {
    overflow: hidden;
    margin: 5px;
    min-width: 110px;
    @include border('sm');
    border-radius: $sm;
    transition: all 0.5s linear;
    @include for-tablet-landscape-up {
      max-width: 250px;
    }

    &--strawberry-border {
      align-self: flex-start;
      color: $color-strawberry;
    }

    &--fire-border {
      align-self: flex-end;
      top: -100px;
      color: $color-fire;
      position: relative;
    }

    &--violet-border {
      align-self: flex-start;
      top: -200px;
      position: relative;
      color: $color-violet;
    }

    &__photo {
      transition: all 1s ease;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
