.c-header {
  position: relative;
  background-size: 44px 384px;
  height: 100vh;
  width: 100%;
  justify-content: center;
  padding: 30px 30px 10px 30px;
  @include display-flex;
  background-color: $color-black;

  &__title {
    position: relative;
    text-align: center;
    color: $color-fire;
    margin-bottom: $md;
    cursor: default;
    transition: all 0.5s linear;
    @include font-default('title');
    animation: zoomIn 1.5s ease-in;

    &::before {
      content: '';
      position: absolute;
      background: url('./../assets/svg/bandeira.svg') no-repeat;
      width: 50px;
      height: 400px;
      top: 30px;
      z-index: -1;
      opacity: 0;
      animation: fadeIn 2s linear;
      animation-fill-mode: forwards;
      animation-delay: 2.5s;

      @include for-phone-only {
        animation: none;
      }
    }
  }

  &__subtitle {
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    text-align: center;
    color: $color-white;
    margin: 0 auto;
    cursor: default;
    transition: all 0.5s linear;
    @include font-default('subtitle-1');
    animation: typing 3.5s steps(50, end);
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
  }
}
