.c-header {
  background: url('./../svg/bandeira.svg') no-repeat;
  background-position: 165px 180px;
  background-size: 44px 384px;
  height: 100vh;
  width: 100%;
  justify-content: center;
  background-color: $color-black;
  padding: $md;
  @include display-flex;
}

.c-header__title {
  text-align: center;
  color: $color-fire;
  margin-bottom: $md;
  @include font-default('title');
}

.c-header__subtitle {
  text-align: center;
  color: $color-white;
  margin: 0;
  @include font-default('subtitle-1');
}
